$color-main: rgb(252, 196, 150);
$font-main: 'Sedgwick Ave', cursive;

body {
    font-family: $font-main;
    background-color: $color-main;
}

.container {
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.console {
    height: 40vh;
    width: 100%;
    display: block;
    text-align: center;

    &__mainHeader {
        margin-bottom: 3vh;
        width: 100%;
        line-height: 60px;
        font-size: 60px;
    }

    &__secondaryHeader {
        margin-top: 0;
    }

    .newGame-btn {
        margin: 10px auto;
    }
    
    .scoreboard {
        display: none;
        height: 6vh;
        width: 40%;
        margin: 0 auto;
        border: 2px solid #333;
        border-radius: 4px;
        position: relative;
        font-size: 40px;

        .badge {
            padding: 10px 0;
            display: block;
            width: 80px;
            background-color: #498b8d;

            &-user {
                position: absolute;
                left: 5%;
                top: 30%;
            }

            &-computer {
                position: absolute;
                right: 5%;
                top: 30%;
            }
        }

        .user-score {
            line-height: 6vh;
        }
    }

    .game-btn {
        width: 90px;
        font-size: 60px;
        line-height: 70px;
        padding: 8px;
        margin: 10px;
        display: none;
        background-color: $color-main;
        border: none;

        &:focus {
            outline: none;
        }
    }

    .green-border {
        border: 3px solid #4dcc7d;
        border-radius: 50%;
        box-shadow: 0 0 10px #31b43a;
    }

    .red-border {
        border: 3px solid #fc121b;
        border-radius: 50%;
        box-shadow: 0 0 10px #d01115;
    }

    .gray-border {
        border: 3px solid #464647;
        border-radius: 50%;
        box-shadow: 0 0 10px #25292b;
    }

    .output {
        display: block;
        height: 26px;
        text-align: center;
        font-size: 26px;
        line-height: 26px;
        margin: 1vh auto;
    }

    .memo {
        display: none;
        margin: 1vh auto;
        font-size: 24px;
    }
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	
	&.show {
		display: block;
	}
}

.modal {
	display: none;
	background: #fff;
	position: absolute;
	top: 50%;
    left: 50%;
    bottom: auto;
	transform: translate3d(-50%, -50%, 0);

	&.show {
		display: block;
	}
	
	.close {
		position: absolute;
		right: 0;
		top: 0;
		padding: 5px;
		color: #000;
		text-decoration: none;
	}
	
	header {
		font-size: 20px;
		line-height: 30px;
		min-height: 30px;
		font-weight: bold;
		padding: 0 30px;
	}

	.content {
		min-height: 30px;
        padding: 3vh 4vw;
        text-align: center;
        font-size: 24px;
	}
}

.modal-score {
    &__table {
    font-size: 18px;
    overflow: auto;
    height: 300px;
    }

    &__output {
        font-size: 26px;
        font-weight: bold;
    }
}